* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fefafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    margin-bottom: 30px;
    font-size: 32px;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    background-color: #dcdcdc;
    border: none;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
}

button {
    background-color: #8e6a79;
    border: none;
    padding: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7a596b;
}
